main {
    margin: auto;
    width: 50%;
}
.grid-container {
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 200px 150px 150px;
    gap: 5px;
    grid-template-areas:
      "o o y"
      "g b b"
      "g d d";
  }
  .orange {
    background: orangered;
    grid-area: o;
  }
  .yellow {
    background: orange;
    grid-area: y;
  }
  .green {
    background: green;
    grid-area: g;
  }
  .blue {
    background: blue;
    grid-area: b;
  }
  .second-blue {
    background: blue;
    grid-area: d;
  }